.wp-block-blockhaus-cookie-consent-btn {
  background-color: var(--wp--preset--color--contrast);
  border-radius: var(--wp--preset--spacing--5);
  border-color: var(--wp--preset--color--contrast);
  border-width: 0;
  display: inline-flex;
  width: max-content;
  color: var(--wp--preset--color--base);
  font-family: inherit;
  font-size: var(--wp--preset--font-size--small);
  font-style: normal;
  font-weight: 500;
  line-height: inherit;
  padding-block: 0.6em;
  padding-inline: 1em;
  text-decoration: none;
  cursor: pointer;
}

.wp-block-blockhaus-cookie-consent-btn:hover,
.wp-block-blockhaus-cookie-consent-btn:focus-visible {
  outline: 2px solid var(--wp--preset--color--contrast);
  outline-offset: 2px;
  color: var(--wp--preset--color--base-2);
}

.wp-block-blockhaus-cookie-consent-wrapper {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.88);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
}

.wp-block-blockhaus-cookie-consent-admin {
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.85rem;
}
